# String methods

In [1]:
name  = 'Parisa'

In [2]:
type(name)

str

In [15]:
name_l = name.lower()

In [16]:
name_l.islower()

True

In [18]:
name.index('i')

3

In [19]:
sentence = "Hello man, how are you doing?"

In [20]:
sentence.split()

['Hello', 'man,', 'how', 'are', 'you', 'doing?']

# String interpolation

In [ ]:
# old method, not good practice
"Hello, my name is %s, %i years old" % ("Parisa", 31)

'Hello, my name is Parisa, 31 years old'

In [27]:
"Hello, my name is {}, {} years old".format("Parisa", 31)

'Hello, my name is Parisa, 31 years old'

In [29]:
"Hello, my name is {0}, {0} years old".format("Parisa", 31)

'Hello, my name is Parisa, Parisa years old'

In [28]:
"Hello, my name is {name}, {age} years old".format(name="Parisa", age =31)

'Hello, my name is Parisa, 31 years old'

In [31]:
# precision in formatting
"Hello, my name is {name}, {age:.1f} years old".format(name="Parisa", age =31.462)

'Hello, my name is Parisa, 31.5 years old'

F-strings! Best practice!

In [34]:
name = 'Parisa'; age = 31.6874
f"Hello, my name is {name}, {age:.2f} years old"

'Hello, my name is Parisa, 31.69 years old'

**Quiz**: Write a code to make the following string a lower-case, then show a list of words.

In [37]:
x = 'Hi this is a string'

x.lower().split(" ")

['hi', 'this', 'is', 'a', 'string']

# Lists

In [1]:
names = ["Sofia", "Parisa","Jadi"]

In [13]:
names[1:2]

['Parisa']

In [14]:
names.remove("Sofia")

In [15]:
names

['Parisa', 'Jadi']

In [17]:
names.reverse()

In [18]:
names

['Jadi', 'Parisa']

In [4]:
my_list = [0,1,2,3,4]

In [5]:
new_list = my_list*2

In [6]:
new_list.count(4)

2

In [7]:
new_list.count(10)

0

In [9]:
new_list.pop(3)

3

In [ ]:
new_list

[0, 1, 2, 4, 0, 1, 2, 3]

In [11]:
new_list.sort()

In [12]:
new_list

[0, 0, 1, 1, 2, 2, 3, 4]

**Quiz**: Write a code to remove 3 from the following list and add 10 to the end of the list

In [19]:
my_list = [1, 2, 3, 4, 5]

In [20]:
my_list.remove(3)

In [22]:
my_list.append(10)

In [23]:
my_list

[1, 2, 4, 5, 10]

# Dictionaries

In [24]:
grades = {
    "Parisa":{
        "math":100, 
        "programming":90, 
        "literature": 70
        }, 
        "John":{
            "math":90, 
            "programming":100, 
            "literature": 75
            }
            }

In [28]:
grades.get("Parisa").get("Spanish", -1)

-1

In [30]:
grades.get("Jack", "no Jack")

'no Jack'

In [ ]:
grades.items()

dict_items([('Parisa', {'math': 100, 'programming': 90, 'literature': 70}), ('John', {'math': 90, 'programming': 100, 'literature': 75})])

**Quiz**: Write a code to make a dictionary of fruits with prices, 
apple: 1500
banana: 1000
orange: 1200

Then change the price of banana to 1100 and remove apple altogether. Print this dictionary.

In [40]:
fruit_prices = {
    "apple":1500,
    "banana": 1000,
    "orange": 1200
    }
fruit_prices

{'apple': 1500, 'banana': 1000, 'orange': 1200}

In [41]:
fruit_prices["banana"] = 1100
fruit_prices

{'apple': 1500, 'banana': 1100, 'orange': 1200}

In [42]:
fruit_prices.pop("apple")
print(fruit_prices)

{'banana': 1100, 'orange': 1200}

# Tuples

In [43]:
t1 = (1994, "Parisa", 3.1415, "Norway")

In [44]:
t1[2]

3.1415

In [ ]:
## immutable...

t1[0] = 1993
# but better performance!

TypeError: 'tuple' object does not support item assignment

**Quiz**: Make a tuple called coordinates that contains the coosdinates of point A, (3,4). 
Now write a code to compute the distance of A from the origin.

In [46]:
A = (3,4)
O = (0,0)
distance_to_origin = (((A[0]-O[0])**2)+((A[1]-O[0])**2))**(1/2)

In [47]:
distance_to_origin

5.0